<div class="row contact-info">
  <div class="col-lg-5">
    <div class="row">
      <div class="col-lg-4">
        {% image '%kernel.root_dir%/Resources/public/images/v_logo.png' %}
          <img src="{{ asset_url }}" alt="v_logo"/>
        {% endimage %}
      </div>
      <div class="col-lg-8 deliver-info">
        <h4 class='deliver-title'>Entrega</h4>
        <div>
          <p>
            Apropiarse de cada uno de nuestros diseños
            para incluir el gusto personal en detalles
            como el hilo, los botones, el cuello
            o los puños dando un nuevo significado a
            cada camisa, dando un paso más hacia la
            unicidad
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="row">
      <div class="col-lg-4">
        {% image '%kernel.root_dir%/Resources/public/images/mastercard.png' %}
          <img src="{{ asset_url }}" alt="mastercard"/>
        {% endimage %}
        <br /><br />
        {% image '%kernel.root_dir%/Resources/public/images/visa-logo.png' %}
          <img src="{{ asset_url }}" alt="mastercard"/>
        {% endimage %}
        <br /><br />
        {% image '%kernel.root_dir%/Resources/public/images/american-logo.png' %}
          <img src="{{ asset_url }}" alt="mastercard"/>
        {% endimage %}
      </div>
      <div class="col-lg-8 deliver-info">
        <h4 class='deliver-title'>m&eacute;todo de pago</h4>
        <div>
          <p>
            Apropiarse de cada uno de nuestros diseños
            para incluir el gusto personal en detalles
            como el hilo, los botones, el cuello
            o los puños dando un nuevo significado a
            cada camisa, dando un paso más hacia la
            unicidad
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <h4>Contacto</h4>
    <div class='info-list'>
      <ul>
        <li>
          {% image '%kernel.root_dir%/Resources/public/images/envelope-icon.png' %}
            <img src="{{ asset_url }}" alt="e-mail" width='18' height='11'/>
          {% endimage %}
          <a href='mailto:info@quot.com'>info@quot.com</a>
        </li>
        <li>
          {% image '%kernel.root_dir%/Resources/public/images/cellphone-icon.png' %}
            <img src="{{ asset_url }}" alt="cellphone" width='9' height='16'/>
          {% endimage %}
          <a>+1 312 583 57 40</a>
        </li>
        <li>
          {% image '%kernel.root_dir%/Resources/public/images/whatsapp-icon.png' %}
            <img src="{{ asset_url }}" alt="cellphone" width='16' height='16'/>
          {% endimage %}
          <a>+1 320 349 69 69</a>
        </li>
      </ul>
    </div>
  </div>
</div>
