<div class="row contact-info">
  <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-2 col-xs-5">
          {#{% image '%kernel.root_dir%/Resources/public/images/v_logo.png' %}
            <img src="{{ asset_url }}" alt="v_logo"/>
        {% endimage %}#}
      </div>
      <div class="col-lg-9 col-md-10 col-sm-10 col-xs-7 deliver-info">
        <h4 class='deliver-title'>Entrega preventa:</h4>
        <div>
          <p>
            Las entregas de compras realizadas durante la preventa se haran a partir de la segunda semana de Febrero. Te enviaremos un correo confirmando la fecha exacta de entrega de tu compra
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-2 col-xs-5">
          {#{% image '%kernel.root_dir%/Resources/public/images/mastercard.png' %}
          <img src="{{ asset_url }}" alt="mastercard" />
        {% endimage %}#}
        <br /><br />
          {#{% image '%kernel.root_dir%/Resources/public/images/visa-logo.png' %}
          <img src="{{ asset_url }}" alt="mastercard" />
        {% endimage %}#}
        <br /><br />
          {#{% image '%kernel.root_dir%/Resources/public/images/american-logo.png' %}
          <img src="{{ asset_url }}" alt="mastercard" />
        {% endimage %}#}
      </div>
      <div class="col-lg-9 col-md-10 col-sm-10 col-xs-7 deliver-info">
        <h4 class='deliver-title'>M&eacute;todo de pago</h4>
        <div>
          <p>
            Nuestra plataforma de pago es 100% confiable y ofrece todos los metodos disponibles. Recibiras confirmación del estado de tu pago tan pronto realices cada compra.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 align-center">
    <h4>Contacto</h4>
    <div class='info-list'>
      <ul>
        <li>
          {% image '%kernel.root_dir%/Resources/public/images/envelope-icon.png' %}
            <img src="{{ asset_url }}" alt="e-mail" width='18' height='11'/>
          {% endimage %}
          <a href='mailto:info@quot.com'>info@quotstore.com</a>
        </li>
        <li>
          {% image '%kernel.root_dir%/Resources/public/images/cellphone-icon.png' %}
            <img src="{{ asset_url }}" alt="cellphone" width='9' height='16'/>
          {% endimage %}
          <a>315 585 59 15</a>
        </li>
        <li>
          {% image '%kernel.root_dir%/Resources/public/images/whatsapp-icon.png' %}
            <img src="{{ asset_url }}" alt="cellphone" width='16' height='16'/>
          {% endimage %}
          <a>315 585 59 15</a>
        </li>
      </ul>
    </div>
  </div>
</div>
