<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid visible-md-block visible-lg-block">
    <div class='row brand-logo'>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width='121px' height='40px' viewBox="0 0 440.7 150"><style type="text/css">
              .st0{fill:#D89F2E;}
            </style><path class="st0" d="M364.6 38.5l-25.8 25.4 21 21 46.5-46.4H364.6zM354.2 55.3l-1.9-1.9 1-1 1.9 1.9L354.2 55.3zM359.8 60.9l-3.7-3.7 1-1 3.7 3.7L359.8 60.9zM365.4 66.5l-3.7-3.7 1-1 3.7 3.7L365.4 66.5zM367.3 68.4l1-1 3.7 3.7 -1 1L367.3 68.4z"/><path class="st0" d="M414.3 39.6l-49.8 49.8 24.3 24.3 49.5-49.5L414.3 39.6zM388.7 93.2c-2.4 0-4.3-1.9-4.3-4.3 0-2.4 1.9-4.3 4.3-4.3 2.4 0 4.3 1.9 4.3 4.3C393 91.3 391 93.2 388.7 93.2z"/><path class="st0" d="M189.8 101.4c-1 0-2 0.3-3 0.8 -1 0.6-2 0.8-3 0.8 -0.7 0-1.3-0.2-1.8-0.5 -0.5-0.3-0.9-1.1-1.2-2.3 -0.3-1.2-0.5-3.1-0.7-5.6 -0.2-2.5-0.3-6-0.4-10.4 -0.1-4.4-0.2-9.9-0.2-16.5s0-14.7 0-24.2c0-0.6-0.4-1.1-1.3-1.7 -0.9-0.6-1.9-0.8-3.1-0.8 -1.3 0-2.8 0.1-4.6 0.4 -1.7 0.3-3.5 0.7-5.3 1.3 -1.8 0.6-3.6 1.3-5.3 2.2 -1.7 0.8-3.1 1.7-4.2 2.7 0.2 2.2 0.8 3.5 1.7 3.8 0.9 0.3 2 0.5 3.2 0.5 0.7 0 1.3 0 2-0.1 0.7-0.1 1.3-0.1 1.8-0.1 0.9 0 1.7 0.2 2.3 0.6 0.7 0.4 1 1.4 1 3.1l0.2 36.8c0 1.8-0.6 3.4-1.7 5 -1.2 1.5-2.6 2.9-4.4 4.1 -1.8 1.2-3.8 2.2-5.9 2.9 -2.1 0.7-4.2 1.1-6.2 1.1 -3.1 0-5.5-0.4-7.3-1.3 -1.8-0.9-3.1-2.1-4-3.7 -0.9-1.6-1.5-3.5-1.7-5.6 -0.2-2.2-0.3-4.5-0.3-7 0-0.9 0-2.3 0-4.1 0-1.9 0-4.5 0.1-7.9 0.1-3.4 0.2-7.7 0.3-12.8 0.2-5.1 0.4-11.2 0.6-18.4 0-0.6-0.6-1.2-1.8-2.1 -1.2-0.8-2.5-1.2-3.9-1.2 -1.5 0-3.1 0.3-4.9 1 -1.8 0.7-3.6 1.5-5.3 2.6 -1.8 1-3.5 2.2-5.1 3.3 -1.7 1.2-3 2.2-4.1 3.2 0.2 2.2 0.8 3.6 1.8 4.2 1 0.6 2.2 0.9 3.5 0.9 0.6 0 1.2 0 1.8-0.1 0.7-0.1 1.3-0.1 1.8-0.1 1.1 0 2 0.2 2.7 0.7 0.7 0.4 1 1.4 1 3l-0.3 34.4c0 5.4 1.6 10 4.8 13.7 3.2 3.8 8.1 5.6 14.7 5.6 4.2 0 8.3-1 12.2-2.9 3.9-1.9 7.6-4.2 11.2-6.7 0.8 3.8 2.1 6.1 4.1 7.1 1.9 1 3.8 1.5 5.7 1.5 1.2 0 2.6-0.2 4.3-0.6 1.7-0.4 3.3-0.9 4.8-1.6 1.5-0.7 2.9-1.5 4-2.5 1.1-1 1.7-2.1 1.7-3.3 0-0.9-0.2-1.7-0.6-2.3C190.9 101.7 190.4 101.4 189.8 101.4z"/><path class="st0" d="M232.8 41c-5.1 0-9.8 0.9-14.3 2.7 -4.5 1.8-8.4 4.4-11.8 7.8 -3.4 3.4-6 7.4-7.9 12 -1.9 4.6-2.9 9.8-2.9 15.4 0 10.8 2.9 19.3 8.7 25.5 5.8 6.2 13.5 9.3 23.3 9.3 5 0 9.6-0.8 14-2.3 4.4-1.5 8.2-3.9 11.4-7 3.3-3.1 5.8-7 7.7-11.7 1.9-4.6 2.8-10.1 2.8-16.4 0-11.4-2.8-20.1-8.3-26.2C250 44 242.4 41 232.8 41zM245.5 100.7c-3.4 4.2-8.4 6.4-15 6.4 -2.9 0-5.6-0.7-8.1-2 -2.5-1.3-4.8-3.3-6.7-5.9 -1.9-2.6-3.5-5.8-4.6-9.6 -1.2-3.8-1.7-8.2-1.7-13.2 0-9.5 1.8-16.7 5.5-21.6 3.6-4.9 9.2-7.4 16.6-7.4 3 0 5.7 0.8 8 2.3 2.4 1.5 4.4 3.7 6 6.5 1.7 2.8 2.9 6.1 3.8 10.1 0.9 4 1.3 8.3 1.3 13.1C250.5 89.3 248.9 96.4 245.5 100.7z"/><path class="st0" d="M313.1 104.7c-0.3-1.1-0.6-1.7-0.9-1.7 -0.6 0.2-1.3 0.7-2.4 1.3 -1 0.7-3 1-5.9 1 -2.6 0-4.7-0.2-6.1-0.7 -1.4-0.4-2.5-1.4-3.2-2.9 -0.7-1.5-1.1-3.7-1.2-6.6 -0.1-2.9-0.2-6.8-0.2-11.6 0-0.2 0-1.2 0-3 0-1.8 0-3.9 0-6.4 0-2.5 0-5.3 0.1-8.2 0.1-2.9 0.1-5.6 0.2-8 0.1-2.4 0.2-4.4 0.3-6.1 0.1-1.7 0.3-2.5 0.5-2.5 4.6-0.1 8.1-0.2 10.5-0.2 2.4-0.1 4.1-0.1 5.1-0.3 1-0.1 1.6-0.2 1.7-0.4 0.1-0.2 0.2-0.5 0.3-1.1l0.3-5.3c0-1.1-0.3-1.7-0.8-1.7 -1.2 0-3.4 0.1-6.6 0.2 -3.2 0.1-7.5 0.3-12.8 0.5V22.3c0-0.2-0.3-0.4-0.8-0.7H286c-0.7 0-1.1 0.3-1.3 0.8 -0.6 4.2-1.5 7.7-2.8 10.5 -1.3 2.8-2.8 5.1-4.4 6.8 -1.6 1.7-3.3 3-5 3.8 -1.7 0.8-3.2 1.4-4.5 1.6l0.2-0.2 -0.3 0.3c0 0.1 0.1 0.4 0.2 0.9 0.1 0.5 0.2 1 0.3 1.6 0.1 0.6 0.3 1.3 0.7 2.2h10.9c0.3 0 0.7 0.2 1.1 0.5 0.4 0.3 0.6 0.8 0.6 1.3l-0.5 48.5c0.1 2.8 0.6 5 1.6 6.7 0.9 1.7 2.2 3.1 3.6 4.1 1.5 1 3.1 1.7 4.9 2.1 1.8 0.4 3.5 0.6 5.3 0.6 0.8 0 2.1-0.1 4-0.4 1.9-0.3 3.8-0.7 5.7-1.2 1.9-0.5 3.6-1.2 5.1-2 1.5-0.8 2.2-1.8 2.2-2.8C313.5 106.7 313.4 105.8 313.1 104.7z"/><path class="st0" d="M96.7 133.1c-12 0-35.7-18-58.4-12.2 8.5-4.4 26.6-7.7 26.6-7.7l0.1 0c5.5-1.3 10.6-3.6 15.1-6.8 4.6-3.2 8.5-7.2 11.8-11.9 3.3-4.7 5.8-10.1 7.5-16.2 1.8-6.1 2.6-12.7 2.6-19.9 0-8.5-1.1-16.2-3.2-23 -2.2-6.8-5.3-12.6-9.4-17.4C85.4 13.2 80.3 9.6 74.2 7c-6.1-2.5-13-3.8-20.7-3.8 -7.1 0-13.6 1.4-19.7 4.1 -6.1 2.7-11.3 6.5-15.7 11.4 -4.4 4.9-7.9 10.8-10.3 17.6 -2.5 6.8-3.7 14.3-3.7 22.5 0 7.4 0.9 14.3 2.7 20.6s4.5 11.9 8 16.7c3.5 4.8 7.9 8.8 13.1 11.8 5.2 3.1 11.2 5.1 17.9 6l1.5-0.1c-1.8 0.6-3.5 1.2-5.4 2.1C30.1 121.4 16 127.3 16 138.2h2.7c0.7-8.2 8-11.3 15.7-11.3 13.7 0 32 18.4 52.8 18.4 16.4 0 20.9-10.2 20.9-24.6h-2.7C105.4 128.7 104 133.1 96.7 133.1zM39.2 103c-4.4-2.1-8.2-5.2-11.4-9.4 -3.2-4.2-5.7-9.3-7.4-15.5 -1.7-6.2-2.6-13.3-2.6-21.4 0-7.1 0.9-13.4 2.6-19 1.7-5.6 4.1-10.3 7.1-14.3 3-3.9 6.7-6.9 11-9 4.3-2 9.1-3.1 14.4-3.1 5.4 0 10.3 1.2 14.7 3.5 4.4 2.3 8.2 5.6 11.3 9.9 3.1 4.3 5.5 9.4 7.2 15.5 1.7 6.1 2.6 12.8 2.6 20.2 0 7.2-0.8 13.6-2.5 19.3 -1.7 5.7-4 10.5-7 14.4 -3 3.9-6.7 6.8-10.9 8.9 -4.2 2-9 3.1-14.2 3.1C48.5 106.2 43.6 105.2 39.2 103z"/>
          </svg>
        </a>
      </div>
    </div>
    <div class='row'>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse quot-menu" id="bs-example-navbar-collapse-1">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <ul class="section-link nav navbar-nav">
          {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == '/' %}
            <li><a class='main-menu-link' href="#preventa" data-ancla="preventa">Preventa</a></li>
            <li><a class='main-menu-link' href="#carousel-example-generic" data-ancla="carousel-example-generic">Colecci&oacute;n</a></li>
            <li><a class='main-menu-link' href="#collection" data-ancla="collection"href="#">Nuestro Valor</a></li>
            <li><a class='main-menu-link' href="#is_personal" data-ancla="is_personal">Personalización</a></li>
            <li><a class='main-menu-link' href="#club" data-ancla="club">Cultura quot</a></li>
          {% else %}
            <li><a href="/#preventa" data-ancla="preventa">Preventa</a></li>
            <li><a href="/#carousel-example-generic" data-ancla="carousel-example-generic">Colecci&oacute;n</a></li>
            <li><a href="/#collection" data-ancla="collection"href="#">Nuestro Valor</a></li>
            <li><a href="/#is_personal" data-ancla="is_personal">Personalización</a></li>
            <li><a href="/#club" data-ancla="club">Cultura quot</a></li>
          {% endif %}
          </ul>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <ul class="cart-links nav navbar-nav">
            {% if is_granted("ROLE_USER") %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{ app.user.username | split(' ')[0] }}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a class='small-link' href='{{ path('profile') }}'>Perfil</a></li>
                <li><a class='small-link' href='/logout'>Cerrar sesi&oacute;n</a></li>
              </ul>
            </li>
            <li>
              <a id="popover" href="/carro-compras" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Se agrego a tu carro de compras">
                <span id="purchase_count" class="cart-badge badge">{{ app.session.get('shirtCount') }}</span>
                Carro de Compras
              </a>
            </li>
            {% else %}
              <li>
                <a href='/login'>
                  {% image '%kernel.root_dir%/Resources/public/images/menu-shirt-icon.png' %}
                    <img src="{{ asset_url }}" alt="account"/>
                  {% endimage %}
                  Tu Cuenta
                </a>
              </li>
              <li>
                  <a id="popover" href="/carro-compras" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Se agrego a tu carro de compras">
                  <span id="purchase_count" class="cart-badge badge">{{ app.session.get('shirtCount') }}</span>
                    Carro de Compras
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div><!-- /.navbar-collapse -->
    </div>
  </div>
 
  <div class="container-fluid visible-sm-block visible-xs-block">
    <div class='row'>
      <div class="col-sm-10 col-xs-10 brand-logo-sp">
        <a href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width='121px' height='40px' viewBox="0 0 440.7 150"><style type="text/css">
              .st0{fill:#D89F2E;}
            </style><path class="st0" d="M364.6 38.5l-25.8 25.4 21 21 46.5-46.4H364.6zM354.2 55.3l-1.9-1.9 1-1 1.9 1.9L354.2 55.3zM359.8 60.9l-3.7-3.7 1-1 3.7 3.7L359.8 60.9zM365.4 66.5l-3.7-3.7 1-1 3.7 3.7L365.4 66.5zM367.3 68.4l1-1 3.7 3.7 -1 1L367.3 68.4z"/><path class="st0" d="M414.3 39.6l-49.8 49.8 24.3 24.3 49.5-49.5L414.3 39.6zM388.7 93.2c-2.4 0-4.3-1.9-4.3-4.3 0-2.4 1.9-4.3 4.3-4.3 2.4 0 4.3 1.9 4.3 4.3C393 91.3 391 93.2 388.7 93.2z"/><path class="st0" d="M189.8 101.4c-1 0-2 0.3-3 0.8 -1 0.6-2 0.8-3 0.8 -0.7 0-1.3-0.2-1.8-0.5 -0.5-0.3-0.9-1.1-1.2-2.3 -0.3-1.2-0.5-3.1-0.7-5.6 -0.2-2.5-0.3-6-0.4-10.4 -0.1-4.4-0.2-9.9-0.2-16.5s0-14.7 0-24.2c0-0.6-0.4-1.1-1.3-1.7 -0.9-0.6-1.9-0.8-3.1-0.8 -1.3 0-2.8 0.1-4.6 0.4 -1.7 0.3-3.5 0.7-5.3 1.3 -1.8 0.6-3.6 1.3-5.3 2.2 -1.7 0.8-3.1 1.7-4.2 2.7 0.2 2.2 0.8 3.5 1.7 3.8 0.9 0.3 2 0.5 3.2 0.5 0.7 0 1.3 0 2-0.1 0.7-0.1 1.3-0.1 1.8-0.1 0.9 0 1.7 0.2 2.3 0.6 0.7 0.4 1 1.4 1 3.1l0.2 36.8c0 1.8-0.6 3.4-1.7 5 -1.2 1.5-2.6 2.9-4.4 4.1 -1.8 1.2-3.8 2.2-5.9 2.9 -2.1 0.7-4.2 1.1-6.2 1.1 -3.1 0-5.5-0.4-7.3-1.3 -1.8-0.9-3.1-2.1-4-3.7 -0.9-1.6-1.5-3.5-1.7-5.6 -0.2-2.2-0.3-4.5-0.3-7 0-0.9 0-2.3 0-4.1 0-1.9 0-4.5 0.1-7.9 0.1-3.4 0.2-7.7 0.3-12.8 0.2-5.1 0.4-11.2 0.6-18.4 0-0.6-0.6-1.2-1.8-2.1 -1.2-0.8-2.5-1.2-3.9-1.2 -1.5 0-3.1 0.3-4.9 1 -1.8 0.7-3.6 1.5-5.3 2.6 -1.8 1-3.5 2.2-5.1 3.3 -1.7 1.2-3 2.2-4.1 3.2 0.2 2.2 0.8 3.6 1.8 4.2 1 0.6 2.2 0.9 3.5 0.9 0.6 0 1.2 0 1.8-0.1 0.7-0.1 1.3-0.1 1.8-0.1 1.1 0 2 0.2 2.7 0.7 0.7 0.4 1 1.4 1 3l-0.3 34.4c0 5.4 1.6 10 4.8 13.7 3.2 3.8 8.1 5.6 14.7 5.6 4.2 0 8.3-1 12.2-2.9 3.9-1.9 7.6-4.2 11.2-6.7 0.8 3.8 2.1 6.1 4.1 7.1 1.9 1 3.8 1.5 5.7 1.5 1.2 0 2.6-0.2 4.3-0.6 1.7-0.4 3.3-0.9 4.8-1.6 1.5-0.7 2.9-1.5 4-2.5 1.1-1 1.7-2.1 1.7-3.3 0-0.9-0.2-1.7-0.6-2.3C190.9 101.7 190.4 101.4 189.8 101.4z"/><path class="st0" d="M232.8 41c-5.1 0-9.8 0.9-14.3 2.7 -4.5 1.8-8.4 4.4-11.8 7.8 -3.4 3.4-6 7.4-7.9 12 -1.9 4.6-2.9 9.8-2.9 15.4 0 10.8 2.9 19.3 8.7 25.5 5.8 6.2 13.5 9.3 23.3 9.3 5 0 9.6-0.8 14-2.3 4.4-1.5 8.2-3.9 11.4-7 3.3-3.1 5.8-7 7.7-11.7 1.9-4.6 2.8-10.1 2.8-16.4 0-11.4-2.8-20.1-8.3-26.2C250 44 242.4 41 232.8 41zM245.5 100.7c-3.4 4.2-8.4 6.4-15 6.4 -2.9 0-5.6-0.7-8.1-2 -2.5-1.3-4.8-3.3-6.7-5.9 -1.9-2.6-3.5-5.8-4.6-9.6 -1.2-3.8-1.7-8.2-1.7-13.2 0-9.5 1.8-16.7 5.5-21.6 3.6-4.9 9.2-7.4 16.6-7.4 3 0 5.7 0.8 8 2.3 2.4 1.5 4.4 3.7 6 6.5 1.7 2.8 2.9 6.1 3.8 10.1 0.9 4 1.3 8.3 1.3 13.1C250.5 89.3 248.9 96.4 245.5 100.7z"/><path class="st0" d="M313.1 104.7c-0.3-1.1-0.6-1.7-0.9-1.7 -0.6 0.2-1.3 0.7-2.4 1.3 -1 0.7-3 1-5.9 1 -2.6 0-4.7-0.2-6.1-0.7 -1.4-0.4-2.5-1.4-3.2-2.9 -0.7-1.5-1.1-3.7-1.2-6.6 -0.1-2.9-0.2-6.8-0.2-11.6 0-0.2 0-1.2 0-3 0-1.8 0-3.9 0-6.4 0-2.5 0-5.3 0.1-8.2 0.1-2.9 0.1-5.6 0.2-8 0.1-2.4 0.2-4.4 0.3-6.1 0.1-1.7 0.3-2.5 0.5-2.5 4.6-0.1 8.1-0.2 10.5-0.2 2.4-0.1 4.1-0.1 5.1-0.3 1-0.1 1.6-0.2 1.7-0.4 0.1-0.2 0.2-0.5 0.3-1.1l0.3-5.3c0-1.1-0.3-1.7-0.8-1.7 -1.2 0-3.4 0.1-6.6 0.2 -3.2 0.1-7.5 0.3-12.8 0.5V22.3c0-0.2-0.3-0.4-0.8-0.7H286c-0.7 0-1.1 0.3-1.3 0.8 -0.6 4.2-1.5 7.7-2.8 10.5 -1.3 2.8-2.8 5.1-4.4 6.8 -1.6 1.7-3.3 3-5 3.8 -1.7 0.8-3.2 1.4-4.5 1.6l0.2-0.2 -0.3 0.3c0 0.1 0.1 0.4 0.2 0.9 0.1 0.5 0.2 1 0.3 1.6 0.1 0.6 0.3 1.3 0.7 2.2h10.9c0.3 0 0.7 0.2 1.1 0.5 0.4 0.3 0.6 0.8 0.6 1.3l-0.5 48.5c0.1 2.8 0.6 5 1.6 6.7 0.9 1.7 2.2 3.1 3.6 4.1 1.5 1 3.1 1.7 4.9 2.1 1.8 0.4 3.5 0.6 5.3 0.6 0.8 0 2.1-0.1 4-0.4 1.9-0.3 3.8-0.7 5.7-1.2 1.9-0.5 3.6-1.2 5.1-2 1.5-0.8 2.2-1.8 2.2-2.8C313.5 106.7 313.4 105.8 313.1 104.7z"/><path class="st0" d="M96.7 133.1c-12 0-35.7-18-58.4-12.2 8.5-4.4 26.6-7.7 26.6-7.7l0.1 0c5.5-1.3 10.6-3.6 15.1-6.8 4.6-3.2 8.5-7.2 11.8-11.9 3.3-4.7 5.8-10.1 7.5-16.2 1.8-6.1 2.6-12.7 2.6-19.9 0-8.5-1.1-16.2-3.2-23 -2.2-6.8-5.3-12.6-9.4-17.4C85.4 13.2 80.3 9.6 74.2 7c-6.1-2.5-13-3.8-20.7-3.8 -7.1 0-13.6 1.4-19.7 4.1 -6.1 2.7-11.3 6.5-15.7 11.4 -4.4 4.9-7.9 10.8-10.3 17.6 -2.5 6.8-3.7 14.3-3.7 22.5 0 7.4 0.9 14.3 2.7 20.6s4.5 11.9 8 16.7c3.5 4.8 7.9 8.8 13.1 11.8 5.2 3.1 11.2 5.1 17.9 6l1.5-0.1c-1.8 0.6-3.5 1.2-5.4 2.1C30.1 121.4 16 127.3 16 138.2h2.7c0.7-8.2 8-11.3 15.7-11.3 13.7 0 32 18.4 52.8 18.4 16.4 0 20.9-10.2 20.9-24.6h-2.7C105.4 128.7 104 133.1 96.7 133.1zM39.2 103c-4.4-2.1-8.2-5.2-11.4-9.4 -3.2-4.2-5.7-9.3-7.4-15.5 -1.7-6.2-2.6-13.3-2.6-21.4 0-7.1 0.9-13.4 2.6-19 1.7-5.6 4.1-10.3 7.1-14.3 3-3.9 6.7-6.9 11-9 4.3-2 9.1-3.1 14.4-3.1 5.4 0 10.3 1.2 14.7 3.5 4.4 2.3 8.2 5.6 11.3 9.9 3.1 4.3 5.5 9.4 7.2 15.5 1.7 6.1 2.6 12.8 2.6 20.2 0 7.2-0.8 13.6-2.5 19.3 -1.7 5.7-4 10.5-7 14.4 -3 3.9-6.7 6.8-10.9 8.9 -4.2 2-9 3.1-14.2 3.1C48.5 106.2 43.6 105.2 39.2 103z"/>
          </svg>
        </a>
      </div>
      <div class="col-sm-2 col-xs-2">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="collapse navbar-collapse quot-menu" id="bs-example-navbar-collapse-2">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <ul class="section-link nav navbar-nav">
          {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == '/' %}
            <li><a class='main-menu-link' href="#preventa" data-ancla="preventa">Pre-venta</a></li>
            <li><a class='main-menu-link' href="#collection" data-ancla="collection"href="#">Quot</a></li>
            <li><a class='main-menu-link' href="#is_personal" data-ancla="is_personal">Personalizar</a></li>
            <li><a class='main-menu-link' href="#carousel-example-generic" data-ancla="carousel-example-generic">Colecci&oacute;n</a></li>
            <li><a class='main-menu-link' href="#origen" data-ancla="origen">Durabilidad</a></li>
            <li><a class='main-menu-link' href="#club" data-ancla="club">Uniq</a></li>
          {% else %}
            <li><a href="/#preventa" data-ancla="preventa">Pre-venta</a></li>
            <li><a href="/#collection" data-ancla="collection"href="#">Quot</a></li>
            <li><a href="/#is_personal" data-ancla="is_personal">Personalizar</a></li>
            <li><a href="/#carousel-example-generic" data-ancla="carousel-example-generic">Colecci&oacute;n</a></li>
            <li><a href="/#origen" data-ancla="origen">Durabilidad</a></li>
            <li><a href="/#club" data-ancla="club">Uniq</a></li>
          {% endif %}
          </ul>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <ul class="cart-links nav navbar-nav">
            {% if is_granted("ROLE_USER") %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{ app.user.username | split(' ')[0] }}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a class='small-link' href='{{ path('profile') }}'>Perfil</a></li>
                <li><a class='small-link' href='/logout'>Cerrar sesi&oacute;n</a></li>
              </ul>
            </li>
            <li>
              <a id="popover" href="/carro-compras" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Se agrego a tu carro de compras">
                <span id="purchase_count" class="cart-badge badge">{{ app.session.get('shirtCount') }}</span>
                Carro de Compras
              </a>
            </li>
            {% else %}
              <li>
                <a href='/login'>
                  {% image '%kernel.root_dir%/Resources/public/images/menu-shirt-icon.png' %}
                    <img src="{{ asset_url }}" alt="account"/>
                  {% endimage %}
                  Tu Cuenta
                </a>
              </li>
              <li>
                <a>
                  <span id="purchase_count" class="cart-badge badge">{{ app.session.get('shirtCount') }}</span>
                  Carro de Compras
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</nav>
<div id="alert-compra" class="container-fluid" style="font-size:14px; background-color: #0F2235;color: #ffffff;width: 150px;height: auto;float: right;display:none;">Se agrego a tu carro de compras</div>
