{% extends 'base.html.twig' %}

{% block title %}Quot - Resumen{% endblock %}

{% block body %}
    <div id="custom_detail"></div>    
    <div class='row'>
        <div class='col-md-12'>
          <div class='detail-customization-wrapper no-border'>
            <h1>La vito 2017 - II</h1>
          </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
          <div class='product-resume-image align-center'>
            {% image '%kernel.root_dir%/Resources/public/images/shirt-resume.png' %}
              <img src="{{ shirt }}"/>
            {% endimage %}
          </div>
        </div>
        <div class='col-md-6'>
            <div class='product-resume-info-block'>
                <h2>{{ title }}</h2>
                <h3>Resumen</h3>
                <div class='product-resume-line'>
                    <div class='row'>
                        <div class='col-md-8 align-left'>
                          Talla {{ size }}
                        </div>
                        <div class='col-md-4 align-right'>
                          <a>
                            EDITAR
                          </a>
                        </div>
                    </div>
                </div>
                <div class='product-resume-line'>
                    <div class='row'>
                        <div class='col-md-8 align-left'>
                          Cuello semi frances
                        </div>
                        <div class='col-md-4 align-right'>
                          <a>
                            EDITAR
                          </a>
                        </div>
                    </div>
                </div>
                <div class='product-resume-line'>
                    <div class='row'>
                        <div class='col-md-8 align-left'>
                          Perchera combinada
                        </div>
                        <div class='col-md-4 align-right'>
                          <a>
                            EDITAR
                          </a>
                        </div>
                    </div>
                </div>
                <div class='product-resume-line'>
                    <div class='row'>
                        <div class='col-md-8 align-left'>
                          Pu&ntilde;os combinados
                        </div>
                        <div class='col-md-4 align-right'>
                          <a>
                            EDITAR
                          </a>
                        </div>
                    </div>
                </div>
                <div class='product-resume-line'>
                    <div class='row'>
                        <div class='col-md-8 align-left'>
                            Cantidad
                        </div>
                        <input id="num" type="number" name="num" min="1" max="50" value="1">
                    </div>
                </div>
                <div class='product-resume-checkout align-right'>
                    <a id="btn_pre_order" data-toggle="modal" data-target="#myModal" href="javascript:void(0);">
                      Seguir al checkout
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade white-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content white-modal-content">
                <div class='white-modal-wrapper'>
                    <p>
                      Importancia y valor a lo individual. Cada una de nuestras camisas es
                      una edicion limitada de 50 unidades
                    </p>
                    <div class='white-modal-links'>
                        <a href="/resumen-compra">Comprar</a>
                    </div>
                    <div class='white-modal-links'>
                        <a href="/colecciones">Seguir Comprando</a>
                    </div>  
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
        $(document).ready(function(){            
            $('#btn_pre_order').click(function(){
                $('#custom_detail').html('<div><img src="https://www.jose-aguilar.com/blog/wp-content/uploads/2012/03/loading.gif"/></div>');
                $.ajax({
                    url: "/save-preorder",
                    data: {
                            'size': '{{ size }}',
                            'title':'{{ title }}',
                            'description': 'descripcion camisa comprada',
                            'value': '1200',
                            'user_id': {{ user_id }},
                            'shirt': '{{ shirt }}',
                            'vid': {{ vid }},
                            'quant': $('#num').val(),
                            'vid_parent': {{ parent_vid }} 
                        },
                    type: "post",
                    success: function(data){
                        $('#custom_detail').html('');
                        $('#purchase_count').html(data);
                    }
                });
            });            
        });
        
        
  </script>
{% endblock %}
