{#
{{ dump(shirt) }}
{{ dump(queryString) }}
#}
<div class='row'>
    <div class='col-md-12'>
        <div class='detail-customization-wrapper no-border'>
            <h1>La vito 2017 - II</h1>
        </div>
    </div>
</div>
<div class='row'>
    {% for key, dt in shirt.childs %}
        {% set style = "display:none;" %}
        {% if key == 0 %}
            {% set style = "display:block;" %}
        {% endif %}
        <div id="detail_{{ key }}" style="{{ style }}" class='col-md-6 align-center'>
            {% image '%kernel.root_dir%/Resources/public/images/custom-shirt.png' %}
            <div id="combination_0">
                <img src="{{ dt.images_detail.1 }}" width='70%'/>
            </div>
            <div style="display:none" id="combination_1">
                {%if dt.images_detail.2 is defined %}
                    <img src="{{ dt.images_detail.2 }}" width='70%'/>
                {% endif %}
            </div>
            {% endimage %}
        </div>
    {% endfor %}
    <div class='col-md-6'>
        <div class='product-custom-info-block'>
            {% set array_title = shirt.title|split('-') %}
            <h2>{{ array_title.0 }}</h2>
            <!--<h3>Cuello</h3>-->
            <div class='product-custom-options'>
                <ul>
                    {% set resumen = '' %}
                    {% for key, dt in shirt.childs%}
                        {% if dt.childs is defined %}
                            {% set child = 1 %}
                            {% set vchild = dt.vid %}
                            {% set url_child = url ~ '&child' ~ nivel ~ '=' ~ child ~ '&vchild' ~ nivel ~ '=' ~ vchild %}
                        {% endif %}
                        <li>
                            <div id="btn_customizer_{{ key }}" class='customization-box'>
                                {% image '%kernel.root_dir%/Resources/public/images/custom-shirt.png' %}
                                    <img onclick="changeImg({{ key }}, '{{ url_child }}');" src="{{ dt.images.0 }}"/>
                                {% endimage %}
                            </div>
                        </li>
                    {% endfor%}
                </ul>
            </div>
            <h3>Descripcion</h3>
            <p>{{ shirt.description }}</p>
            <h3>Combinacion</h3>
            <div class='custom-radio'>
                <input onclick="changeCom(1);" type="radio" id="radio01" name="radio" />
                <label for="radio01"><span></span>Si</label>
                <input onclick="changeCom(0);" type="radio" id="radio02" name="radio" />
                <label for="radio02"><span></span>No</label>
            </div>
                <div class='row'>
                    <div class='col-md-6'>
                        
                        <div class='product-step-links'>
                            {%if nivel != 3 %}
                                <a id="btn_prev" onclick="loadPage('{{ urlPrev }}');" href="javascript:void(0);" class=''>Anterior</a>
                                <a id="btn_next" onclick="loadPage('{{ url }}');" href="javascript:void(0);" class=''>Siguiente</a>
                            {% else %}
                                <a id="btn_prev" onclick="loadPage('{{ urlPrev }}');" href="javascript:void(0);" class=''>Anterior</a>
                                <a id="btn_next_f" href="{{ urlResumen }}&com=0" class=''>Siguiente</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class='col-md-6 align-right'>
                        <div class='product-step-resume'>
                            <a id="final_shirt" href="{{ urlResumen }}&com=0">Ver resumen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#btn_customizer_0 img').trigger('click');
            document.getElementById("radio02").checked = true;
        });
    </script>
{% endblock %}