{% set sizes = data.sizes|split(',') %}
<div class='product-teaser'>
    <a class='shirt-block bk-ancla' href="#ancla_{{ data.vid }}">
        <div class='shirt-image'>
          <img rel="{{ data.images.0 }}" id="shirt_img_{{ data.vid }}" class='img-responsive' src="{{ data.images.0 }}" alt="cellphone"/>
        </div>
        <h4>{{ data.title }}</h4>
    </a>
    <div class='product-price'>
      <div class='row'>
        <div class='col-lg-7 col-md-7 col-sm-9 col-xs-9'>
          ${{ data.price }}
        </div>
        <div class='col-lg-5 col-md-5 col-sm-3 col-xs-3'>
            <div class="dd div_{{ data.vid }}-ppal wrapper-dropdown-5" tabindex="1">
                <span>Talla</span>
                <ul id="select_{{ data.vid }}" class="dropdown">
                    {% for size in sizes %}
                        <li><a>{{ size }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
      </div>
    </div>
    <div id="count_shirt_{{ data.vid }}" class='product-stock'></div>
    <div class="product-custom">
      <div class="product-customize-link">
        <a onclick="generateLink('{{ vid_parent }}','{{ data.vid }}', 'ppal')" href="#">Personalizar</a>
      </div>
      <div class="product-customize-cart">
        <a class="bk-custom" name="{{ vid_parent }}-{{ data.vid }}-{{ data.title }}-{{ data.price }}-ppal" data-toggle="modal" data-target="#myModal" href="#">agregar a compras</a>
      </div>
    </div>
    <div style="display: none" id="{{ data.vid }}-texts">
        {% for tx in data.detail_text %}
            {{ tx.value }}-
        {% endfor %}
    </div>
    <div style="display: none" id="{{ data.vid }}-description">
        {{ data.description }}
    </div>
</div>