{% set sizes = data.sizes|split(',') %}
<div class='row product-detail-row'>
    <div id="ancla_{{ data.vid }}" name="ancla_{{ data.vid }}" class='col-md-6'>
        <div id="detail-{{ class }}" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for key,img in data.images %}
                    {% if key == 0 %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                      <img src="{{ data.images_bk }}" width='100%'/>
                      <div class="product-detail-carousel-caption">
                        <img src="{{ img }}" width='100%'/>
                      </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#detail-{{ class }}" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control product-detail-carousel-right" href="#detail-{{ class }}" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class='col-md-6'>
        <div class='product-detail'>
            <h2>{{ data.title }}</h2>
            <div class='product-detail-info-block'>
                <div class='row'>
                    <div class='col-md-6'>
                        <span>Talla</span>
                    </div>
                    <div class='col-md-6'>
                      <div class="dd wrapper-dropdown-5" tabindex="1"><span>Talla</span>
            						<ul class="dropdown">
                          {% for size in sizes %}
                            <li><a>{{ size }}</a></li>
                          {% endfor %}
            						</ul>
            					</div>
                    </div>
                </div>
            </div>
            <div class='product-detail-info-block aligned_right'>
                <span>${{ data.price }}</span>
            </div>
            <div class='product-detail-info-block aligned_right'>
                <a href="/personalizar/{{ vid_parent }}/{{ data.vid }}">Personalizar</a><br />
                <a>Agregar a compras</a>
            </div>
            <div class='product-detail-info-block no-border'>
                <h3>Descripci&oacute;n</h3>
                <p>{{ data.description }}</p>
            </div>
        </div>
      </div>
</div>
