<div class='row margin-top-40 margin-bottom-40'>
    <div class='col-md-3'>
        <div class="shirt-cart-block">
          <div class="shirt-cart-image">
            {% image '%kernel.root_dir%/Resources/public/images/shirt-1.png' %}
              <img src="{{ product.image }}" alt=""/>
            {% endimage %}
          </div>
        </div>
    </div>
    <div class='col-md-9'>
        <div class='shirt-cart-pricetag'>
            <h4>{{ product.title }}</h4>
            <!--<h4>Cantidad {{ product.quant }}</h4>-->
            <p>${{ product.value }}</p>
            <a href="{{ path('cart-purchase') }}">Ver detalles</a>
        </div>
    </div>
</div>
