<div id="club" name="club" class="row visible-md-block visible-lg-block">
    <div class='col-md-5 col-lg-5 col-sm-12 col-xs-12'>
        <div class="promo-container">
            <h2>{{ module.title }}</h2>
            <p>{{ module.field_descripcion }}</p>
            {{ module.tabla|raw }}
            <button onclick="window.location.href='{{ path('cultura_validate') }}'">
              Hacer parte
            </button>
        </div>
    </div>
    <div class='col-md-7 col-lg-7 col-sm-12 col-xs-12'>
        {% image '%kernel.root_dir%/Resources/public/images/club_bg.png' %}
        <img  src="{{ module.imagen.src }}" alt="banner" class="img-responsive"/>
        {% endimage %}
    </div>
</div>
<div id="club" name="club" class="row visible-sm-block visible-xs-block">
    <div class='col-md-7 col-lg-5 col-sm-12 col-xs-12'>
        {% image '%kernel.root_dir%/Resources/public/images/club_bg.png' %}
        <img  src="{{ module.imagen.src }}" alt="banner" class="img-responsive"/>
        {% endimage %}
    </div>
    <div class='col-md-5 col-lg-5 col-sm-12 col-xs-12'>
        <div class="promo-container">
            <h2>{{ module.title }}</h2>
            <p>{{ module.field_descripcion }}</p>
            {{ module.tabla|raw }}
            <button onclick="window.location.href='{{ path('cultura') }}'">
              Hacer parte
            </button>
        </div>
    </div>
</div>

