{% image '%kernel.root_dir%/Resources/public/images/ring_bg.png' %}
<div style="background-image:url({{ asset_url }}); background-position: center">
  <div class='row materials visible-md-block visible-lg-block'>
    <div class='col-md-7 col-lg-7'>
    </div>
    <div class='col-md-5 col-lg-5 col-md-offset-7 col-lg-offset-7'>
      <h2>Los mejores materiales</h2>
      <p>{{ module.field_descripcion }}</p>
      <button onclick="window.location.href='{{ path('products') }}'">Comprar</button>
    </div>
  </div>
  <div class='row materials visible-xs-block visible-sm-block'>
    <div class='col-sm-12 col-xs-12'>
      <h2>Los mejores materiales</h2>
      <p>{{ module.field_descripcion }}</p>
      <button onclick="window.location.href='{{ path('products') }}'">Comprar</button>
    </div>
  </div>
</div>
{% endimage %}

