<div id="newsletter" name="newsletter"  class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class='newsletter'>
      <div class='newsletter-title'>
        <h3>Inscribirse a nuestro newsletter</h3>
      </div>
        {{ form_start(form) }}            
            {{ form_row(form.email) }}
            {{ form_row(form.save) }}
        {{ form_end(form) }}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
  </div>
</div>
