<div id="carousel-example-generic" name="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!--<ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>-->

  <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% set aux = 1 %}
        {% set aux1 = 0 %}
        {% set totalElemts = module.imagen|length - 1 %}
        {% for key, carousel in module.imagen %}
            {% if aux1 < totalElemts %}
                {% if key == 0 %}
                    <div class="item active">
                {% else %}
                    <div class="item">
                {% endif %}
                    <img src="{{ module.imagen[aux1].src }}" alt=""/>
                    <div class="carousel-caption">
                        {% image '%kernel.root_dir%/Resources/public/images/shirt-bg.png' %}
                            <div class='product-wrapper' style="background-image:url({{ module.imagen[aux].src }}); background-position: center">
                                <div class='row product-caption'>
                                    <h3>{{ module.imagen[aux1].alt }}</h3>
                                    <p>{{ module.imagen[aux].alt }}</p>
                                </div>
                                <div class='row product-links'>
                                    <div class='col-md-6 col-lg-6 col-xs-12 col-sm-12 product-single-link'>
                                      <a href="{{ path('products') }}">Personalizar</a>
                                    </div>
                                    <div class='col-md-6 col-lg-6 col-xs-12 col-sm-12 product-single-link'>
                                      <a href="{{ path('products') }}">Comprar</a>
                                    </div>
                                </div>
                            </div>
                        {% endimage %}
                    </div>
                </div>
                {% set aux = aux + 2 %}
                {% set aux1 = aux1 + 2 %}
            {% endif %}
        {% endfor %}
    </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class='carousel-control-arrow'>
      {% image '%kernel.root_dir%/Resources/public/images/left-arrow.png'%}
        <img src="{{ asset_url }}" alt="previous"/>
      {% endimage %}
    </span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class='carousel-control-arrow'>
      {% image '%kernel.root_dir%/Resources/public/images/right-arrow.png'%}
        <img src="{{ asset_url }}" alt="next"/>
      {% endimage %}
    </span>
    <span class="sr-only">Next</span>
  </a>
</div>
