<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta content='width=device-width, initial-scale=1.0' name='viewport'>
        {% block stylesheets %}
          {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
          {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      {{ include('shared/header.html.twig') }}
      <div class='container-fluid quot-container'>
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
      </div>
      {{ include('shared/footer.html.twig') }}
      {% block javascripts %}
        {% javascripts 'bundles/app/js/*' %}
          <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
      {% endblock %}
    </body>
</html>
