{% extends 'base.html.twig' %}

{% block title %}Quot - Perzonalización{% endblock %}

{% block body %}
    <div id="custom_detail"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
        $(document).ready(function(){
            $('#custom_detail').html('<div><img src="https://www.jose-aguilar.com/blog/wp-content/uploads/2012/03/loading.gif"/></div>');
            $.ajax({
                url: "/personalizar/detalle-ajax",
                data: {'vidParent':'{{ vidParent }}', 'vid':'{{ vid }}', 'child':'{{ child }}', 'vchild':'{{ vchild }}', 'child1':'{{ child1 }}', 'vchild1':'{{ vchild1 }}',  'child2':'{{ child2 }}',  'vchild2':'{{ vchild2 }}',  'size':'{{ size }}'},
                type: "get",
                success: function(data){
                    $('#custom_detail').html(data);
                }
            });
        });
        
        function loadPage(url){
            
            $('#custom_detail').html('<div><img src="https://www.jose-aguilar.com/blog/wp-content/uploads/2012/03/loading.gif"/></div>');
            $.ajax({
                url: url,
                //data: {'vidParent':'{{ vidParent }}', 'vid':'{{ vid }}', 'child':'{{ child }}', 'vchild':'{{ vchild }}', 'child1':'{{ child1 }}', 'vchild1':'{{ vchild1 }}',  'child2':'{{ child2 }}',  'vchild2':'{{ vchild2 }}',  'size':'{{ size }}'},
                type: "get",
                success: function(data){
                    $('#custom_detail').html(data);
                }
            });
        }
        
        function changeImg(key, urlNext, urlPrev){
            $('#btn_next').attr('onclick', 'loadPage("' + urlNext + '")');
            $("div[id*='detail_']").css('display', 'none');
            $("#detail_" + key).css('display', 'block');
        }
  </script>
{% endblock %}
