<div class='col-md-12'>
    <div class='detail-wrapper'>
        <h1>La vito 2017 - II</h1>
        <div class="owl-carousel">
            {{ include('home/partials/product-teaser.html.twig') }}
            {{ include('home/partials/product-teaser.html.twig') }}
            {{ include('home/partials/product-teaser.html.twig') }}
            {{ include('home/partials/product-teaser.html.twig') }}
            {{ include('home/partials/product-teaser.html.twig') }}
            {{ include('home/partials/product-teaser.html.twig') }}
        </div>
    </div>
</div>